html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body {
  background: #1F253D
}

* {
  font-family: Verdana, sans-serif;
  font-size: 12pt;
  color: #FFF
}

@media (max-width: 768px) {
  * {
    font-size: 16pt
  }
}

div#app {
  padding: 20px
}

a.btn {
  text-decoration: none;
  padding: 10px;
  border: solid 2px #CCC;
  display: inline-block
}

ul#repos {
  margin: 30px 15px;
  padding: 0px;
  display: block
}

ul#repos li {
  padding: 15px 0px 15px 10px;
  margin: 0px;
  display: block;
  background: #34495E
}

ul#repos li.error {
  background: #E74C3C
}